@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&display=swap');
#center {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: "Playwrite IT Moderna", serif;
}